<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Website with Ad Pop-up</title>
    <link rel="stylesheet" href="static/som.css">
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
    </header>
    <main>
        <p style="text-align: center;">Exit intent </p>
    </main>
    <div id="advertisement" class="hidden">
        <p>Don't Miss Out! Discover Your Next Favorite Read. Stay a Bit Longer?<br><strong>Enter your Email below</strong></p><br>
        <input type="text" placeholder="Enter email"><br>
        <button type="submit">Subscribe</button><br>
        <img src="static/Screenshot 2023-12-20 170101.png" alt="hello">
        <button onclick="closeAd()">Close</button>
    </div>
    <script src="static/base.js"></script>
</body>
</html>
